@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100vh;
}

ul {
    list-style: none;
    padding: 12px 0;
}

li {
    margin: 0 24px;
}

a {
    text-decoration: None;
}

button {
    cursor: pointer;
}

.background__black {
    background-color: #242424;
}

.background__black .my-info,
.background__black .title,
.background__black .nav-link,
.background__black .nav-link a,
.background__black .projects__titile {
    color: white;
}

.background__black .header-icon {
    filter: none;
}

.background__black .linke__hover--effect--black::after {
    background-color: white;
}

.background__black .scroll__icon {
    border: 2px solid white;
}

.background__black .scroll__icon::after {
    background-color: white;
}

.background__black .send__email {
    background-color: white;
    color: #242424;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    max-width: 1280px;
    margin: 0 auto;

}

.header-icon {
    width: 48px;
    height: 48px;
    filter: invert(1);
}

.nav-link__list{
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.nav-link {
    /* display: inline-block; */
    position: relative;
}

.linke__hover--effect--black::after {
    background-color: #242424;
}

.linke__hover--effect--white::after {
    background-color: white;
}

.linke__hover--effect::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease;
}

.linke__hover--effect:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.my-introduce{
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.title {
    font-size: 90px;
    
    /* margin-top: 64px; */
}

.orange {
    color: orange;
}

.my-info {
    font-size: 24px;
    font-weight: 600;
    color: #423535;
    margin-top: 40px;
    line-height: 2;
}

.link-list {
    margin-top: 20px;
}


.link {
    /* 
    Because <a> is inline by default, the transform: scale(...) may not visually behave as you expect—inline elements can be transformed, but they don’t always “grow” smoothly unless they have a layout that can accommodate it.
    */
    display: inline-block; /*This is important*/
    padding: 8px 12px;
    border: 1px solid orange; 
    border-radius: 50%;
    font-size: 20px;
    color: white;
    background-color: orange;
    margin-right: 20px;
}

.click {
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.send__email {
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-size: 32px;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #242424;
    color: white;    
}

.scroll {
    position: absolute;
    bottom: 20px;

    left: 50%;
    transform: translateX(-50%);

}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon::after {
    content: "";
    width: 4px;
    height: 6px;
    border-radius: 2px;
    background-color: #242424;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/* Section Projects */

.container {
    margin: 24px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

.projects__titile {
    font-size: 48px;
    text-align: center;
    margin: 24px 0;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0,0,0, 0.45);
    overflow: hidden;
    margin-bottom: 64px;
}

.project__img {
    width: 100%;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 12px;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 300ms;
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(100%);
    opacity: 0;
    color: white;
    max-width: 568px;

    transition: opacity 300ms, transform 450ms ease;
}

.project__description--title {
    font-size: 40px;
}

.project__description--subtitle {
    font-size: 20px;
    margin: 8px 0;
}

.project__description--para {
    margin: 16px 0;
    line-height: 1.5;
}

/* 
Footer
 */

 footer {
    background-color: #242424;
 }

 .footer__img {
    width: 64px;
    margin: 0 auto;
 }

 .footer__img img {
    width: 100%;
    margin: 32px 0;
 }

 .footer__social--list {
    text-align: center;
    margin: 24px 0;
 }

 .footer__social--link {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 24px;
    position: relative;
}

.footer__copyright {
    color: white;
    text-align: center;
    padding: 64px 0 24px 0;

 }

 /* Modal in Header part */

 .nav-row,
 .my-introduce,
 .scroll {
    opacity: 1;
    visibility: visible;
    /* Add the transition property for a smooth effect */
    transition: opacity 0.5s 800ms, visibility 0.5s 800ms;
 }

 .hidden {
    opacity: 0;
    visibility: none;
 }


 .header__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1024px;
    height: 80vh;
    border-radius: 12px;
    box-shadow: 0 20px 80px 0 rgb(0,0,0, 0.45);
    overflow: hidden;
    display: flex;
    
    transition: all 300ms ease;
 }

 .header__modal--hidden {
    visibility: hidden;

 }

 .header__modal--show {
    visibility: visible;
 }

.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;

}

.modal__about {
    background-color: white;
}

.modal__about--hidden {
    transform: translateX(-110%);
}

.modal__contact--hidden {
    transform: translateX(110%);
}

.modal__contact {
    background-color: #242424;
    color: white;
    position: relative;
    /* transition: all 300ms 800ms; */
    /* z-index: 1; */
}

.half__container {
    /* margin: 48px auto;
    width: 80%; */
    padding: 48px 32px;
    z-index: 2;
}

.half__title {
    font-size: 32px;
    font-weight: 700;
}

.half__subtitle {
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0;
}

.modal__about--para {
    margin: 16px 0;
    line-height: 1.5;
}

.skill__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 0;
}

.skill {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 25%;
    margin-bottom: 12px;
    position: relative;

    transition: all 400ms ease;
}

.skill:hover {
    transform: scale(0.9);
    opacity: 0.8;
}

.skill:hover .skill__name  {
    transform: scale(1);
}

.skill__img {
    width: 100%;
    padding: 12px;
}

.skill__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
    font-weight: 600;
}

#contact__form {
    display: flex;
    flex-direction: column;
}

.c-label {
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0;
}

.c_red {
    color: red;
}

.contact__info {
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    margin-top: 24px 0;
    padding: 12px 0;

    color: white;
    font-size: 16px;
}

.contact__info:focus {
    outline: none;
    caret-color: white;
}

.c-submit {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    margin-top: 32px;
    padding: 12px 12px;
    max-width: 200px;

    transition: all 300ms ease;
}

.c-submit:hover {
    border: 2px solid white;
    background: transparent;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    color: white;
    background: transparent;
    border: none;
    font-size: 36px;
    z-index: 100;
}

.contact__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    visibility: hidden;

    z-index: -1;
}

.contact__overlay--loading {
    font-size: 32px;
    color: white;
    background-color: #242424;
}

.contact__overlay--visible {
    visibility: visible;
    z-index: 2;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);

    }
}


.contact__overlay--success {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 48px;
    background-color: #4bb543;
}

.shape {
    position: fixed;
    transform: translate(10px, -20px);
}

.shape-1 {
    top: 10%;
    left: 10%;
}

.shape-2 {
    top: 10%;
    left: 50%;
}

.shape-3 {
    top: 10%;
    left: 80%;
}

.shape-4 {
    top: 50%;
    left: 10%;
}

.shape-5 {
    top: 50%;
    left: 50%;
}

.shape-6 {
    top: 50%;
    left: 80%;
}

.shape-7 {
    top: 90%;
    left: 10%;
}

.shape-8 {
    top: 90%;
    left: 50%;
}

.shape-9 {
    top: 90%;
    left: 80%;
}

@media (max-width: 768px) {
    header {
        /* height: auto; */
        margin-bottom: 64px;
    }

    .title {
        font-size: 64px;
    }

    .my-info {
        font-size: 20px;
    }

    .projects__titile {
        font-size: 36px;
    }

    .project__description--title {
        font-size: 32px;
    }

    .project__description--subtitle {
        font-size: 16px;
    }

    .header__modal{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        /* margin: 0 auto; */
        top: 0;
        left: 10%;


        transform: translate(0, 0);
    }

    .modal__half {
        width: 100%;
        height: auto;
    }

    .half__container {
        padding: 12px;
        /* margin: 0 auto; */
    }

}

@media (max-width:480px) {
    
}