.books__row {
    display: flex;
    flex-direction: column;
}

.title__wrapper {
    padding: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#filter__books {
  /* Basic appearance */
  font-family: Arial, sans-serif;
  font-size: 1rem;
  padding: 10px 30px 10px 15px; /* Add extra padding for the custom arrow */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  width: 200px;

}