.popup-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-window {
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.popup-title {
    font-size: 48px;
    font-weight: 700;
    color: blue;
}

.popup-msg {
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0;
}

.popup-window button {
    margin-bottom: 24px;
    padding: 8px 16px;
    cursor: pointer;
}